
{{>header}}

	<h2>We have options for you:</h2>
	<br>
        <div class="container">
	<form action="/create" method="get">
	  <button type="submit" class="btn btn-danger">Create an Account</button>
    </form>
	</div>
	<br>

	<div class="container">
	<form action="/update" method="get">
        <button type="submit" class="btn btn-danger">Update an Account</button>
    </form>
	</div>
	<br>

	<div class="container">
	<form action="/delete" method="get">
        <button type="submitl" class="btn btn-danger">Delete an Account</button>
    </form>
	</div>
    <br>
{{>footer}}
