{{>header}}
<h1> Create a Section</h1>
<div class="container">
    <form action="/section/add/1?" method="post">
        <label for="courseID">CourseID:</label>
        <input type="text" name="courseId">

        <label for="ProfessorFirstName"></label>
        <input type="text" name="">

        <label for="ProfessorLastName"></label>
        <input type="text" name="">

        <label for="SectionNumber">SectionNumber:</label>
        <input type="number" name="SectionNumber">

       <button type="submit"> Submit</button>
    </form>
</div>
{{>footer}}