{{>header}}
<h1>List of Buildings</h1>

<div class="container">
    <div class="col-lg-12">
        <h4>Building Id: {{buildings.id}}</h4>
        <h4>Building Name: {{buildings.buildingName}}</h4>
        <h4>Building Acronym: {{buildings.acronym}}</h4>
        <h4>Building Address: {{buildings.address}}</h4>
    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <h1>List of Rooms</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Room number:</th>
                <th>Room Capacity:</th>
            </tr>
            </thead>
            {{#rooms}}
            <tbody>
            <tr>
                <td>{{roomNumber}}</td>
                <td>{{roomSize}}</td>
                <td>
                    <form action="/rooms/update/{{id}}" method="get">
                        <button type="submit" class="btn btn-danger">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="/rooms/delete/{{id}}" method="get">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
            {{/rooms}}
        </table>
        <a href="/rooms/{{buildings.id}}" >Create Room</a>
    </div>
</div>
{{>footer}}