{{>header}}
<h1>List of Buildings:</h1>

<table>
    <tr>
        <th>Unique Id</th>
        <th>Building Name</th>
        <th>Acronym</th>
        <th>Address</th>
    </tr>
    {{#allbuildings}}
    <tr>
        <td>{{id}}</td>
        <td>{{buildingName}}</td>
        <td>{{acronym}}</td>
        <td>{{address}}</td>
        <td>
            <form action="/buildings/view/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">View</button>
            </form>
        </td>

        <td>
            <form action="/buildings/delete/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
        <td>
            <form action="/buildings/update/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Update</button>
            </form>
        </td>
    </tr>
    {{/allbuildings}}
</table>
<a href="/buildings/create"> Create Building</a>