{{>header}}
<h1>{{course.CourseName}}</h1>

<div class="container">
    <h4>Course Id: {{course.id}}</h4>
    <h4>Course Name: {{course.courseName}}</h4>
    <h4>Course Department: {{course.department}}</h4>
    <h4>Course Number: {{course.number}}</h4>
    <h4>Credits: {{course.credits}}</h4>
    <h4>Course description: {{course.description}}</h4>
    <h4>Learning Objectives: {{course.learningObjective}}</h4>
    <h4>Pre-Reqs: {{course.prereqs}}</h4>
    <h4>Co-Reqs: {{course.coreq}}</h4>
</div>
<h1> Sections: </h1>
<table>
    <tr>
        <th>id</th>
        <th>Sections Number</th>
        <th>Building</th>
        <th>Room</th>
        <th>Professor</th>
    </tr>
    {{#sections}}
    <tr>
        <td>{{id}}</td>
        <td>{{sectionNumber}}</td>
        <td><p>x</p></td>
        <td><p>x</p></td>
        <td><p>x</p></td>
        <td>
            <form action="/section/update/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Edit</button>
            </form>
        </td>
        <td>
            <form action="/section/delete/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
        <td>
            <form action="/section/add/professor/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Add Professor</button>
            </form>
        </td>
        <td>
            <form action="/section/add/location/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Add Location</button>
            </form>
        </td>
    </tr>
    {{/sections}}
</table>


{{>footer}}