{{>header}}
<h1>Create a Course</h1>
<div class="container" align= "center">
    <form action="/faculty" method="post">
        <label for="Department">Department: </label>
        <input type="text" name="department" />

        <label for="coursename">Course Name: </label>
        <input type="text" name="courseName" />

        <label for="number">Course Number: </label>
        <input type="text" name="number" />

        <label for="credits">Number of Credits: </label>
        <input type="number" name="credits" />

        <label for="description">Description: </label>
        <input type="text" name="description" />

        <label for="learningObjective">Learning Objective: </label>
        <input type="text" name="learningObjective" />

        <label for="prereqs">pre-requs: </label>
        <input type="text" name="prereqs" />

        <label for="coreqs">Co-reqs: </label>
        <input type="text" name="coreqs" />
        <button type="submit" >Submit</button>
    </form>
</div>
{{>footer}}