{{>header}}
<h1> Create a Section</h1>
<div class="container">
    <p>Making a section for course: {{course.courseName}}</p>
    <form action="/section" method="post">

        <input type="hidden" name="courseId" value="{{course.id}}">

        <label for="SectionNumber">SectionNumber:</label>
        <input type="number" name="sectionNumber" required>

        <p> Select a professor to teach</p>
        {{#professors}}
        <label for="name">{{firstName}} {{lastName}}</label>
        <input type="radio" name="professorId" value="{{id}}" required>
        <br>
        {{/professors}}

        <p>Select Location</p>
        {{#allRooms}}
        {{#buildings}}
        <label for="roomNumber">{{acronym}}{{/buildings}}{{roomNumber}}</label>
        <input type="radio" name="roomId" value="{{id}}" required>
        {{/allRooms}}
        <br>

       <button type="submit"> Submit</button>
    </form>
</div>
{{>footer}}