{{>header}}
<h1> Create a Section</h1>
<div class="container">
    <form action="/section" method="post">
        <label for="courseID">CourseID:</label>
        <input type="hidden" name="courseId" value="{{courseId}}">

        <!--
        <label for="ProfessorFirstName"></label>
        <input type="text" name="">

        <label for="ProfessorLastName"></label>
        <input type="text" name="">
        -->

        <label for="SectionNumber">SectionNumber:</label>
        <input type="number" name="sectionNumber">

       <button type="submit"> Submit</button>
    </form>
</div>
{{>footer}}