{{>header}}
<h1>List of Courses:</h1>

<table>
    <tr>
        <th>Unique Id</th>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Credits</th>
        <th>Pre Reqs</th>
    </tr>
    {{#allcourses}}
    <tr>
        <td>{{id}}</td>
        <td>{{number}}</td>
        <td>{{courseName}}</td>
        <td>{{description}}</td>
        <td>{{credits}}</td>
        <td>{{prereqs}}</td>
    </tr>
    {{/allcourses}}
</table>
<a href="/faculty/create"> Create Course</a>

{{>footer}}
