<!-- // msudenver -->
<footer style="background-image:url(https://i.imgur.com/r8cZ8rl.jpg);">
<div class="footer">
    <section aria-label="Global Footer" class="footer-container">
    <div class="footermenu">
        <div class="footeradresses">
        <div class="footeradresses-row">
            <div class="column1">
            <ul class="footer-nav list">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>
            </div>
            <div class="column2">
            <ul class="footer-nav list">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-location"></div>
        <div class="footer-lilimage"></div>
        </div>
    </section>
    
    </div>
</footer>