<!-- // msudenver -->
<footer style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi4eg22FhBZ1Y2BYHvs4kQg_LzNqfYQ_hJr3eAQFUZIgDcV2Di);">
<div class="footer">
    <section aria-label="Global Footer" class="footer-container">
    <div class="footermenu">
        <div class="footeradresses">
        <div class="footeradresses-row">
            <div class="column1">
            <ul class="footer-nav list">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>
            </div>
            <div class="column2">
            <ul class="footer-nav list">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-location"></div>
        <div class="footer-lilimage"></div>
        </div>
    </section>
    
    </div>
</footer>