<!DOCTYPE html>
<html lang="en">
<head>
  <title>WolfPack University</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h1><div class="jumbotron" style="background-image: url(https://img00.deviantart.net/af02/i/2015/121/a/9/wolf_banner_2_by_animallovers626-d2uoa3d.png); background-size:auto>
  <h1>Wolfpack University</h1>
</div> </h1>
<body style=position: relative; min-height:100%;top: 0px>

<div id="wrapper">
    <table width="100%" cellspacing="0">
    <tbody>
    <tr></tr>
    <tr> 
    <td height="30" colspan="2" align="center" valign="middle>
    <div class="container">
    </div>
    </td>
    </tr>
    </tbody>
    
    </table>     
    
    </div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WU</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/select">Home</a></li>
      <li><a href="/user">Student</a></li>
      <li><a href="/professor?">Professor</a></li>
      <li><a href="/faculty">Faculty</a></li>
    </ul>
  </div>
</nav>
  
<div class="container" style="margin-top:50px">
  
</div>
</body>
</html>