{{>header}}
<h1> Select Courses</h1>
<div class="container" align="center">
    <div class="col-lg-12">
        <form action="/user/addcourse/{{studentid}}" >
            <table class="table">
                <thead>
                <tr>
                    <th>Sections Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Days</th>
                    <th>Building</th>
                    <th>Room</th>
                    <th>Professor</th>
                </tr>
                </thead>
                {{#sections}}
                <tr>
                    <td>{{sectionNumber}}</td>
                    <td>{{startDate}}</td>
                    <td>{{endDate}}</td>
                    <td>{{startTime}}</td>
                    <td>{{endTime}}</td>
                    <td>{{classDate}}</td>
                    {{#room}}
                    {{#buildings}}
                    <td><p>{{buildingName}}</p></td>
                    {{/buildings}}
                    <td><p>{{roomNumber}}</p></td>
                    {{/room}}
                    {{#course}}
                    <td>{{courseName}}</td>
                    <td>{{number}}</td>
                    <td>{{credits}}</td>
                    {{/course}}
                    {{#professor}}
                    <td>{{firstName}} {{lastName}}</td>
                    {{/professor}}
                    <td>
                    <input type="checkbox" name="sectionId" value="{{id}}">
                    </td>
                </tr>
                {{/sections}}
            </table>
            <br>
            <button type="submit" class="btn btn-danger">Register</button>
        </form>
    </div>
</div>
{{>footer}}


