{{>header}}

<h1>Select an Option</h1>
<div class="container">
    <form action="/edit-professor" method="get">
        <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
        <button type="submit" class="btn btn-danger">Edit Professor</button>
    </form>
</div>
<br>

<div class="container">
    <form action="/pick-professor" method="get">
        <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
        <button type="submit" class="btn btn-danger">Pick a Course</button>
    </form>
</div>
<br>
{{>footer}}