{{>header}}
<h1>{{professor.firstName}}'s Account</h1>
<style>
    h4{
        padding-right: 4px;
    }
</style>
<div class="container">
    <h4>Professor Id: {{professor.id}}</h4>
    <h4>Professor First Name: {{professor.firstName}}</h4>
    <h4>Professor Last Name: {{professor.lastName}}</h4>
    <h4> Sections you are teaching: </h4>
    {{#sections}}
    <table>
        <tr>
            <th>Section</th>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Credits</th>
            <th>Students</th>
        </tr>
        <tr>
            <td>{{sectionNumber}}</td>

            {{#course}}
            <td>{{courseName}}</td>
            <td>{{number}}</td>
            <td>{{credits}}</td>
            {{/course}}

            {{#users}}
            <tr>
                <td>{{firstName}} {{lastName}}</td>
            </tr>
            {{/users}}
        </tr>
    </table>
    {{/sections}}

</div>
{{>footer}}