{{>header}}
<h1>List of Professors:</h1>

<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th> edit</th>
    </tr>
    {{#professors}}
    <tr>
        <td>{{id}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>
            <form action="/professor/view/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">View</button>
            </form>
        </td>
        <td>
            <form action="/professor/update/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Edit</button>
            </form>
        </td>
        <td>
            <form action="/professor/delete/{{id}}" method="get">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {{/professors}}
</table>
<a href="/professor/create-professor">Create Professor</a>
{{>footer}}
