{{>header}}
<h1>Select Your Account Type</h1>


<div class="container" align= "center">
    <form action="/professor" method="get">
        <button type="submit" class="btn btn-danger">Professor</button>
    </form>
</div>
<br>

<div class="container" align= "center">
    <form action="/user" method="get">
        <button type="submit" class="btn btn-danger">Student</button>
    </form>
</div>
<br>
<div class="container">
    <form action="/faculty" method="get">
        <button type="submit" class="btn btn-danger">Faculty</button>
    </form>
</div>
<hr>
<a href="/school-information">School information</a>
<br>
{{>footer}}
