{{>header}}
<h1>{{student.firstName}}'s Account</h1>

<div class="container">
    <h4>Student Id: {{student.id}}</h4>
    <h4>Student First Name: {{student.firstName}}</h4>
    <h4>Student Last Name: {{student.lastName}}</h4>
    <h4> Sections you are In: </h4>
    {{#sections}}
    <table>
        <tr>
            <th>Section</th>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Credits</th>
            <th>Professors</th>
            <h4>Completed Credits: {{global.completedCredits}}</h4>
        </tr>
        <tr>
            <td>{{sectionNumber}}</td>

            {{#course}}
            <td>{{courseName}}</td>
            <td>{{number}}</td>
            <td>{{credits}}</td>
            {{/course}}

            {{#professors}}
        <tr>
            <td>{{firstName}} {{lastName}}</td>
        </tr>
        {{/professors}}
        </tr>
    </table>
    {{/sections}}

</div>
{{>footer}}