{{>header}}
<h1>{{student.firstName}}'s Account</h1>

<div class="container" align="center">
    <h4>Student Id: {{student.id}}</h4>
    <h4>Student First Name: {{student.firstName}}</h4>
    <h4>Student Last Name: {{student.lastName}}</h4>
    <h4>Course: </h4>
    {{#student}}
    {{#section}}
    <h3>Section: {{sectionNumber}}</h3>
    {{#course}}
    <h3>Course Name: {{courseName}}</h3>
    <h3>Course Number: {{number}}</h3>
    <h3>Credits: {{credits}}</h3>
    {{/course}}
    {{#professor}}
    <h3>Professor: {{firstName}} {{lastName}}</h3>
    {{/professor}}
    {{/section}}
    {{/student}}

</div>
{{>footer}}