body{
    padding: 5px 0;
    font-family: cursive,Verdana,sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

#wrapper{
    width: 1000px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
footer{
    display: block;
    min-height: 20px;
    padding: 20px;
    background: #aeb1b3;
    margin-left: 0;
    margin-right: 0;
}