{{>header}}
<h1>Update Room</h1>
<div class="container">
    <form action="/rooms/update">

        <input type="hidden" name="id" value="{{rooms.id}}"/>

        <label for="roomsnumber">Room Number: </label>
        <input type="text" name="roomNumber" value="{{rooms.roomNumber}}" />

        <label for="roomsSize">Room Capacity: </label>
        <input type="text" name="roomSize" value="{{rooms.roomSize}}" />

        <button type="submit" >Update</button>

    </form>
</div>
{{>footer}}