{{>header}}
<h1>Update an Account</h1>
<div class="container">
    <form action="/user/update" >
        <input type="hidden" name="id" value="{{student.id}}"/>

        <label type="firstname">put updated first name here:</label>
        <input type="text" name="firstname" value="{{student.firstName}}" />

        <label type="lastname">put updated last name here:</label>
        <input type="text" name="lastname" value="{{student.lastName}}" />
        <button type="submit" >Update</button>
    </form>
</div>
  </form>
{{>footer}}
